/*
 * Globals
 */

/* Links */
/* a,
a:focus,
a:hover {
  color: #fff;
} */
a.nav-link {
    font-family: Varela Round, arial, sans-serif;
    font-weight: normal;
    font-family: "QuaverSans";
    font-size: 18px;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    color:rgb(26, 26, 26);
    text-align:center;
    padding-bottom: 4px;
}
a.nav-link.active {
    border-bottom-color: rgb(230, 230, 230);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-weight: 700;
}
a.nav-link:hover {
    border-bottom-color: rgb(230, 230, 230);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

/* Custom default button */



/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgb(252, 253, 247);
}

body {
  display: -ms-flexbox;
  display: flex;
  color:rgb(26, 26, 26);
  text-decoration-color:rgb(26, 26, 26);

  /* font-family: Varela Round, arial, sans-serif;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 100; */

  font-family: Varela Round, arial, sans-serif;
  font-family: "QuaverSans";
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
}

.cover-container {
  /* max-width: 42em; */
}

.postpone {
  width: 35%;
  height: auto;
}

.background-splash {
  background-image: url('images/bg-splash.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 100% 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgb(255, 255, 255);
}

.title {
  cursor:pointer;
  display:block;
  font-family:Romantically;
  font-style:normal;
  font-weight:100;
  letter-spacing:normal;
  overflow-wrap:normal;
  text-align:center;
  text-decoration-line:none;
  text-decoration-style:solid;
  text-size-adjust:100%;
  text-transform:none;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-top: 20px; 
  margin-bottom: 40px;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  /* font-weight: 700; */
  /* border-bottom: .25rem solid transparent; */
}

.nav {
    line-height: 22.4px;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  /* border-bottom-color: rgba(255, 255, 255, .25); */
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  /* color: #fff; */
  /* border-bottom-color: #fff; */
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  /* font-weight: 700; */
}
.cover-heading {
    font-size:4vw;
    height:60px;
    line-height:60px;
    margin-bottom: 30px;
}

.cover-section-title {
  font-size:30px;
  height:30px;
  line-height:30px;
  font-weight: 400;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  /* text-transform: uppercase; */
}

/* If the screen size is 600px wide or less, change the font sizes of the section titles */
@media screen and (max-width: 600px) {
  .cover-section-title {
    font-size: 20px;
  }
}

.cover-section-subtitle {
  /* font-family: QuaverSans;
  font-size:45px;
  font-weight: 200; */
  font-family: proxima-nova, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  font-style: normal;
}

.cover-section-begin {
  margin-top: 60px;
}

.cover-section-end {
  margin-bottom: 60px;
}

p.lead {
    font-family: Varela Round, arial, sans-serif;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
}


/*
 * Footer
 */
.mastfoot {
  font-family: Varela Round, arial, sans-serif;
  font-family: "QuaverSans";
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
}

